{% extends "layout.html" %}

{% block heading %}
    HomePage
{% endblock %}

{% block header %}
    <script>
document.addEventListener('DOMContentLoaded', function() {

                  // Change font color to red
                  document.querySelector('#red').onclick = function() {
                      document.querySelector('#welcome').style.color = 'red';
                      document.querySelector('#changeColor1').style.color = 'red';
                      document.querySelector('#bookR').style.color = 'red';
                      document.querySelector('#logout_color').style.color = 'red';
                      document.querySelector('#login_color').style.color = 'red';
                      document.querySelector('#register_color').style.color = 'red';
                      document.querySelector('#search_color').style.color = 'red';
                      document.querySelector('#more_color').style.color = 'red';

                  };


                  // Change font color to blue
                  document.querySelector('#blue').onclick = function() {
                      document.querySelector('#welcome').style.color = 'blue';
                      document.querySelector('#changeColor1').style.color = 'blue';
                      document.querySelector('#bookR').style.color = 'blue';
                      document.querySelector('#logout_color').style.color = 'blue';
                      document.querySelector('#login_color').style.color = 'blue';
                      document.querySelector('#register_color').style.color = 'blue';
                      document.querySelector('#search_color').style.color = 'blue';
                      document.querySelector('#more_color').style.color = 'blue';
                  };

                  // Change font color to green
                  document.querySelector('#green').onclick = function() {
                      document.querySelector('#welcome').style.color = 'green';
                      document.querySelector('#changeColor1').style.color = 'green';
                      document.querySelector('#bookR').style.color = 'green';
                      document.querySelector('#logout_color').style.color = 'green';
                      document.querySelector('#login_color').style.color = 'green';
                      document.querySelector('#register_color').style.color = 'green';
                      document.querySelector('#search_color').style.color = 'green';
                      document.querySelector('#more_color').style.color = 'green';
                  };
              });

</script>

{% endblock %}

{% block body %}
<h1 id="welcome" style="text-align: center">Welcome to my bookstore</h1>
{% endblock %}
